<% include partials/header.ejs %>
    <div class="thing">

        <% if (pics.length > 0) {%>
            <div id="pics" class="card container">
                <div class="input-group mb-0 box-input">
                        <input class ="search form-control" placeholder="Enter description word"> 
                        <div class="input-group-append">
                            <button class="sort btn btn-outline-secondary" data-sort="pic_desc">Sort</button>
                        </div>
                    </div>
                    <ul class="list">
                        <% pics.forEach((pic, index) => { %>
                            <li>
                                <div class="anything">
                                    <h2 class="card-title description"><%= pic.pic_title %></h2>
                                    <img src="/assets/img/<%= pic.pic_file %>" class="rounded-circle blog-image card-img-top image" alt="">
                                    
                                    <h3 class="card-body description"><%= pic.pic_desc %></h3>
                                    <p class="card-text">Uploaded by: @<%= pic.user_name %></p>
                                    <p class="cute-border">
                                        <a href="/edit/<%= pic.pic_id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                        <a href="/delete/<%= pic.pic_id %>" class="btn btn-sm btn-danger">Delete</a>
                                    </p>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                    </div>
        <% } else { %>
            <p class="text-center">No pics found. Go <a href="/add" >here</a> to add pics.</p>
        <% } %>
    </div>
</body>
<script>
    var list = new List('pics', { 
        valueNames: ['description']
    });

</script>
</html>